body {
    background-color: #1E191D;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-section {
    height: 100%;
    width: 100%;
    max-height: 300px;
    align-items: center;
    background-color: #1E191D;
}

#main-header {
    padding-top: 20px;
    padding-bottom: 70px;
    font-weight: 700;
    font-size: 50px;
    color: #ADBCA9;
    text-align: center;
}

#author {
    text-align: right;
    color: #EEE0BD;
    font-size: 30px;
    margin-right: 230px;
    padding-top: 10px;
}

#quote {
    font-size: 30px;
    color: #EEE0BD;
    text-align: center;
}

#btn-quote {
    background: #ADBCA9;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

#btn-wrapper {
    margin-top: 170px;
    text-align: center;
}